/* BODY */
body {
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #e0edef;
}

    body::-webkit-scrollbar {
        width: 12px;
        height: 5px;
    }

    body::-webkit-scrollbar-thumb {
        background: #6982a3;
        border-radius: 6px;
    }

        body::-webkit-scrollbar-thumb:hover {
            background: #617793;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }
/* NAVBAR */
.div_Nav {
    background-color: #6982a3;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
.Navegacion {
    font-size: larger;
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

    .Navegacion ul {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .Navegacion li {
        display: inline-block;
    }

    .Navegacion ul li a {
        color: black;
        display: block;
        text-align: center;
        padding: 20px 20px;
        text-decoration: none;
    }

        .Navegacion ul li a:hover {
            background-color: #aebbbd;
        }

/* BOTONES ADMIN */
.BotonAgregarRegla {
    border: 0;
    background: none;
    display: inline-block;
    margin: 15px auto;
    margin-left: 30%;
    text-align: center;
    border: 2px solid black;
    padding: 14px 40px;
    border-radius: 24px;
    cursor: pointer;
    outline: none;
    color: black;
    transition: 0.25s;
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
}
    .BotonAgregarRegla:hover {
        background: black;
        color: white;
    }
.BotonModificarRegla {
    border: 0;
    background: none;
    display: inline-block;
    margin: 15px auto;
    margin-left: 15px;
    text-align: center;
    border: 2px solid black;
    padding: 14px 40px;
    border-radius: 24px;
    cursor: pointer;
    outline: none;
    color: black;
    transition: 0.25s;
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
}
    .BotonModificarRegla:hover {
        background: black;
        color: white;
    }
.BotonEliminarRegla {
    border: 0;
    background: none;
    display: inline-block;
    margin: 15px auto;
    margin-left: 15px;
    text-align: center;
    border: 2px solid black;
    padding: 14px 40px;
    border-radius: 24px;
    cursor: pointer;
    outline: none;
    color: black;
    transition: 0.25s;
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
}
    .BotonEliminarRegla:hover {
        background: black;
        color: white;
    }
.BotonCargarRegla {
    border: 0;
    background: none;
    margin-top: 200px;
    margin-left: 50px;
    text-align: center;
    border: 2px solid black;
    padding: 14px 40px;
    border-radius: 24px;
    cursor: pointer;
    outline: none;
    color: black;
    transition: 0.25s;
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
}

    .BotonCargarRegla:hover {
        background: black;
        color: white;
    }
/* LABELS Y TEXTBOXS ADMIN */
#div_Labels {
    font-family: Snell Roundhand, cursive;
}
#div_contenedor {
    margin: 0;
    overflow: hidden;
}
#div_Labels, #div_Texts, #div_boton_cargar {
    float: left;
}

#div_Labels, #div_Texts {
    padding: 30px;
}
.LabelRegla {
    margin: 5px auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 10px;
    font-size: 16px;
    font-family: Snell Roundhand, cursive;
    display: block;
    text-align: center;
}
.TextBox {
    display: block;
    width: 500px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    margin: 5px;
    border-radius: 24px;
    border: solid 2px black;
}
.TextArea {
    display: block;
    width: 500px;
    height: 100px;
    font-size: 14px;
    text-align: center;
    margin: 5px;
    border-radius: 8px;
    border: solid 2px black;
}
.DropDown {
    color: black;
    margin: 5px;
    font-size: 14px;
    text-align: center;
    width: 510px;
    height: 30px;
    border: solid 2px black;
    display: block;
    border-radius: 20px;
    /*position: absolute;*/
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .DropDown:focus {
        text-align: center;
        background-color: lightgray;
        font-size: 16px;
    }

/* TITULO */
#div_Rules {
    float: left;
    display: inline-block;
    font-size: larger;
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
    width: 100%;
    margin-left: 10%;
    margin-top: 15px;
}

    #div_Rules img {
        display: inline-block;
        float: left;
        max-width: 100px;
    }

    #div_Rules h2 {
        display: inline-block;
        float: left;
        /*margin-bottom: 10px;*/
        margin-top: 30px;
        margin-left: 20px;
    }

/* TABLA */
.MyTable_Reglas {
    /*margin-left: 15px;*/
    height: 80%;
    margin-bottom: 10%;
    margin-top: 10%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    
}

.cssTitulos {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    padding-right: 2%;
    padding-bottom: 2%;
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
}

.cssNoticia {
    text-align: justify;
    font-size: 16px;
    padding-left: 5%;
    padding-top: 10%;
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
}
/* FOOTER */
.footer {
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 200px;
    margin-top: -50px;
    margin-bottom: 0;
    padding-bottom: 0;
    border-top: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #6982a3;
}

.footer1 {
    background-color: #6982a3;
    display: inline-block;
    float: left;
}

    .footer1 h5 {
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 0px;
        padding: 5px;
        font-family: Snell Roundhand, cursive;
        font-weight: bold;
    }

    .footer1 p {
        margin-top: 0px;
        margin-left: 25px;
        padding: 2px;
        border: 0px;
        margin-bottom: 0px;
    }

.footer2 {
    margin-left: 5%;
    background-color: #6982a3;
    display: inline-block;
    float: left;
}

    .footer2 h2 {
        margin-left: 120px;
        margin-top: 50px;
        font-family: Snell Roundhand, cursive;
        font-weight: bold;
    }

    .footer2 img {
        margin-left: 120px;
        margin-top: 0;
        padding-top: 0;
        border-top: 0px;
        max-width: 150px;
        max-height: 150px;
    }
